<!doctype html>
<html>
<head>
  <title>A Compliment</title>
</head>
<body>
    We need some information from you:
    <form action="/madlib">
        Name: <input type="text" name="person">
        Pick a color: 
            <select name="color">
                <option value="red">Red</option>
                <option value="orange">Orange</option>
                <option value="yellow">Yellow</option>
                <option value="green">Green</option>
                <option value="blue">Blue</option>
        Enter a Noun: <input type="text" name="noun">
        Choose an Adjective <input type="text" name="adjective">
        <input type="submit">
    </form>
</body>
</html>